---

---
<section class="mb-10">
    <div class="mb-8 space-y-4">
        <h1 class="text-2xl font-bold">Let's Stay In Touch</h1>
        <p><strong>Email:</strong> hi@brycemcwhirter.com
        </p>



        <div>
            <h1 class="text-2xl font-bold">Social Media</h1>
            <a href="https://www.linkedin.com/in/bryce-mcwhirter-5b9330146/" target="_blank">
                <p class="accent-blue-400"> LinkedIn </p>
            </a>
        </div>

    </div>

</section>
